.contact {
    

    &__title {
        text-align: center;
        font-family: "Play", sans-serif;
        font-weight: 500;
        font-size: 32px;
        margin: 24px 0;

        @media screen and (min-width: $bp-desktop) {
            font-weight: 700;
            font-size: 64px;
            margin-bottom: 48px;
        }
    }

    &__title-accent {
        color: #2b7fff;
    }

    &__content {
        display: flex;
        gap: 32px;
        justify-content: center;
        margin-bottom: 0px;
        align-items: stretch;
        flex-direction: column-reverse;
        align-items: center;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-direction: row;
             gap: 32px;
             justify-content: center;
             margin-bottom: 96px;
             align-items: stretch;
        }
    }

    &__map {
        flex-shrink: 0;
        border: none;
        border-radius: 16px;
        width: 100dvw;
        height: 232px;

        @media screen and (min-width: $bp-tablet) {
            height: 350px;
        }

        @media screen and (min-width: $bp-desktop) {
         width: 605px;
         height: 481px;
         border-radius: 32px;
         border: 0;
        }
    }

    &__form-card {
        background-image: url(../images/background-vector.png);
        position: relative;
        padding: 42px 24px;
        background-color: var(--beauty-landing-2-c1);
        border-radius: 32px;
        max-width: 100%;
        width: 423px;
        height: 481px;


        @media screen and (min-width: $bp-desktop) {
            position: relative;
            padding: 48px 56px;
            border-radius: 32px;
            max-width: 100%;
            width: 423px;
            height: 481px;
        }
    }

    &__lead {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        color: var(--beauty-landing-2-background);
        margin: 0 0 24px;

        @media screen and (min-width: $bp-desktop) {
            margin: 0 0 32px;
        }
    }

    &__lead-accent {
        color: var(--beauty-landing-2-s2);
    }

    &__field {
        margin-bottom: 16px;
    }

    &__input {
        display: block;
        margin: 0 auto;
        border-radius: 32px;
        width: 241px;
        height: 46px;
        padding: 16px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background: transparent;
        color: var(--beauty-landing-2-background);
        outline: none;

        @media screen and (min-width: $bp-desktop) {
            width: 100%;
            border-radius: 32px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            background: transparent;
            color: var(--beauty-landing-2-background);
            outline: none;
        }
    }

    &__btn {
        display: block;
        margin: 16px auto 8px;
        padding: 12.5px 24px;

        @media screen and (min-width: $bp-desktop) {
          padding: 16px 32px;
        }
    }

    &__terms {
        margin: 0;
        font-size: 12px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
    }

    &__terms-link {
        color: rgba(255, 255, 255, 0.9);
        text-decoration: underline;
    }
}