
.footer {
    position: relative;
    background: var(--beauty-landing-2-c1);
    background-image: url(../images/background-vector.png);
    padding: 56px 0;
    text-align: center;

    &::after {
     display: none;
@media screen and (min-width: $bp-desktop) {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 278px;
        height: 213px;
        background-image: url("../images/bottel-footer.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
        pointer-events: none;
        display: block;
    }

        }
  &__logo {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: var(--beauty-landing-2-s2);
    line-height: 0.94;
    text-transform: capitalize;
    margin-bottom: 42px;
        @media screen and (min-width: $bp-desktop) {
            font-size: 24px;
            line-height: 0.87;
            margin-bottom: 0;
         }
    
                    }
    &__inner {
        display: grid;
        justify-items: center;
        grid-template-areas:
            "brand"
            "nav"
            "policy"
            "social"
            "copyright";

        @media screen and (min-width: $bp-desktop) {
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 186px;
            justify-content: space-between;
        }
    }
    &__nav-item:last-child {
        margin-bottom: 16px;
    }

    &__brand {
        grid-area: brand;
    }

    &__nav {
        grid-area: nav;
    }

    &__contacts {
        grid-area: social;
    }

    &__meta {
        display: contents;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__policy {
        grid-area: policy;
        padding-bottom: 16px;
    }

    &__nav-list {
     display: flex;
     flex-direction: column;
     gap: 16px;
    
         @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-direction: column;
            gap: 16px;
            }
        }
       &__list {
        display: flex;
         flex-direction: column;
        gap: 16px; 
        margin-bottom: 16px; 
        font-size: 14px;
      

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 16px;
            font-size: 16px;

        }
    
    }
       &__adress-item {
        text-decoration: none;
        font-style: normal;
       }
       

    &__address-list {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
        &__link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--beauty-landing-2-background);
        text-decoration: none;
        text-decoration: none;
        display: inline-flex;
        line-height: 1;

        @media screen and (min-width: $bp-desktop) {
            font-size: 16px;
            margin-bottom: 0px;
            font-style: normal;
            text-decoration: none;
        }
            &:hover {
                color: var(--beauty-landing-2-s2);
                font-weight: 700;
            }
            
        }     

    &__social {
        display: flex;
        gap: 20px;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;

        @media screen and (min-width: $bp-desktop) {
            gap: 24px;
            margin-top: 16px;
        }
    } 
        &__social-icon {
            fill: var(--bakery-landing-1-c5);
            display: block;
        }

    &__copyright {
         grid-area: copyright;
         margin: 0;
         font-size: 13px;
         color: var(--beauty-landing-2-s5);   }
}

      