.footer {
    position: relative;
    background: var(--beauty-landing-2-c1);
    padding: 56px 0;

    &::after {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 278px;
                height: 213px;
                background-image: url("../images/bottel-footer.png");
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: contain;
                pointer-events: none;
                display: block;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 186px;
        }


    }

    &__logo {
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        color: var(--beauty-landing-2-s2);
        line-height: 0.94;
        text-transform: capitalize;
        margin-bottom: 42px;

        @media screen and (min-width: $bp-desktop) {
            font-size: 24px;  
            line-height: 0.87;
            margin-bottom: 0;
        }
    }

    &__nav-list,
    &__address-list,
    &__social {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        
    }

    &__address {
        font-style: normal;
    }

    &__address-list {
       display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--beauty-landing-2-background);
        text-decoration: none;

        @media screen and (min-width: $bp-desktop) {
            font-size: 16px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__social {
        display: flex;
        gap: 24px;
        margin-top: 16px;
        align-items: center;

        
    }

    &__social-icon {
        fill: var(--bakery-landing-1-c5);
        display: block;
    }

    &__meta {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__copyright {
        margin: 0;
        font-size: 13px;
        color: var(--beauty-landing-2-s5);
    }
}