// * Modal */
 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    overflow: auto;
 

  
}

.modal {
    position: relative;
    padding: 44px;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    border-radius: 48px;
    overflow: auto;
    background: var(--beauty-landing-2-c1);
    background-image: url(../images/background-vector.png);

    @media screen and (min-width: $bp-desktop) {
        padding: 144px;
        background-image: url(../images/background-vector.png);
    }
}

.modal-title {
    font-weight: 700;
    font-size: 50px;
    width: 100%;
    line-height: 1.2;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    color: var(--beauty-landing-2-background);

    @media screen and (min-width: $bp-desktop) {
        font-size: 64px;
        width: 435px;
    }
}

.modal-text {
    font-weight: 600;
    font-size: 22px;
    width: 274px;
    height: 52px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    color: var(--beauty-landing-2-background);
}

.modal-text span {
    color: #2b7fff;
}

.backdrop.is-hidden {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form-label {
    display: block;
}


.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
   background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}


   

.form-fieled {
    margin-bottom: 24px;
}

.form-label {
    display: block;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 13px;
    line-height: 1.17;
    background-color: transparent;
    border: 2px solid var(--beauty-landing-2-s5);
    border-radius: 32px;
    color: var(--beauty-landing-2-background);
}

.form-button {
    display: block;
    margin: 0 auto 8px;
}

.form-button:hover {
    color: var(--beauty-landing-2-background);
}

.form-link {
    font-weight: 400;
    font-size: 12px;
    width: 213px;
    height: 36px;
    line-height: 1.15;
    margin: 0 auto;
    text-align: center;
    color: var(--beauty-landing-2-s5);
    text-decoration-skip-ink: none;
}

.form-terml-link {
    color: var(--beauty-landing-2-s5);
    text-decoration-skip-ink: none;
}