
@font-face {
    font-family: 'Roboto';
    src: url('../Play_Roboto/Roboto/Roboto-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Play';
    src: url('../fonts/Play_Roboto/Play/Play-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  