/* Background-wave фоновая синяя волна*/

// .background-wave {
//     position: relative;
//     background: url(../images/background-wave.png);
//     background-repeat: no-repeat;
//     background-position: top center;
//     z-index: 1;
//     padding-top: 200px;
//     background-size: cover;
// }
// 

.background-wave {
    background-image: url(../../images/background2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    padding-top: 389px;
 
   
}

