/* Carousel */

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--beauty-landing-2-c1);
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--beauty-landing-2-c1);
    cursor: pointer;
    flex-shrink: 0;

}

.carousel-button:hover {
    background-color: var(--beauty-landing-2-s2);
    border-color: var(--beauty-landing-2-background);
    fill: var(--beauty-landing-2-background);
}
.carusel-button--next {
    transform: rotate(180deg);

    
}