.pagination {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;


    &__button {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: var(--beauty-landing-2-s5);
        padding: 0;

        &--active {
           background-color: var(--beauty-landing-2-s2);;
        }


    }
}
